In [45]:
import pandas as pd
import numpy as np

In [46]:
# Get the tsv files as dataframe

df_human = pd.read_table("uniprotkb_human.tsv",delimiter='\t')
df_rat = pd.read_table("uniprotkb_rat.tsv",delimiter='\t')

/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_37529/1288919342.py:3: DtypeWarning: Columns (22,29,33,35,37,38,39,40,43,44,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_human = pd.read_table("uniprotkb_human.tsv",delimiter='\t')
/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_37529/1288919342.py:4: DtypeWarning: Columns (22,29,33,35,37,38,39,40,41,43,44,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rat = pd.read_table("uniprotkb_rat.tsv",delimiter='\t')

In [47]:
#df_human

In [48]:
df_human.isna().sum()/len(df_human)

Entry                                 0.000000
Entry Name                            0.000000
Protein names                         0.000000
Gene Names                            0.207699
Organism                              0.000000
Length                                0.000000
Sequence                              0.000000
Involvement in disease                1.000000
Pharmaceutical use                    1.000000
Mutagenesis                           1.000000
Disruption phenotype                  1.000000
Biotechnological use                  1.000000
Allergenic Properties                 1.000000
Gene Ontology (biological process)    0.619481
Gene Ontology (cellular component)    0.543190
Gene Ontology (GO)                    0.418790
Gene Ontology (molecular function)    0.664311
Absorption                            1.000000
Catalytic activity                    0.920414
Cofactor                              0.957372
DNA binding                           0.992416
EC number                             0.916147
Activity regulation                   0.999621
Function [CC]                         0.902409
Kinetics                              1.000000
Pathway                               0.979489
pH dependence                         1.000000
Redox potential                       1.000000
Rhea ID                               0.927901
Site                                  0.998347
Temperature dependence                1.000000
Binding site                          0.969777
Chain                                 0.886020
Cross-link                            0.999856
Disulfide bond                        0.988864
Glycosylation                         0.999413
Peptide                               1.000000
Modified residue                      0.998640
Lipidation                            0.999893
Initiator methionine                  0.999925
Post-translational modification       0.998944
Propeptide                            1.000000
Signal peptide                        0.886063
Transit peptide                       0.999968
Topological domain                    0.999904
Transmembrane                         0.792610
Subcellular location [CC]             0.761481
Intramembrane                         0.999968
dtype: float64

### All the steps done on the Human dataset will be repeated on the rat dataset (as the human features might be used later)

In [49]:
# remove all the empty columns and columns with mostly NaN
df_human = df_human.drop(columns=['Entry','Entry Name','Involvement in disease',
       'Pharmaceutical use','Mutagenesis','Disruption phenotype','Biotechnological use',
       'Allergenic Properties','Absorption','Kinetics','pH dependence','Redox potential',
       'Temperature dependence','Peptide','Propeptide','Catalytic activity', 'Cofactor',
       'DNA binding', 'EC number', 'Activity regulation', 'Function [CC]',
       'Pathway', 'Rhea ID', 'Site', 'Binding site', 'Chain', 'Cross-link',
       'Disulfide bond', 'Glycosylation', 'Modified residue', 'Lipidation',
       'Initiator methionine', 'Post-translational modification',
       'Signal peptide', 'Transit peptide', 'Topological domain','Transmembrane','Intramembrane'])
df_rat = df_rat.drop(columns=['Entry','Entry Name','Involvement in disease',
       'Pharmaceutical use','Mutagenesis','Disruption phenotype','Biotechnological use',
       'Allergenic Properties','Absorption','Kinetics','pH dependence','Redox potential',
       'Temperature dependence','Peptide','Propeptide','Catalytic activity', 'Cofactor',
       'DNA binding', 'EC number', 'Activity regulation', 'Function [CC]',
       'Pathway', 'Rhea ID', 'Site', 'Binding site', 'Chain', 'Cross-link',
       'Disulfide bond', 'Glycosylation', 'Modified residue', 'Lipidation',
       'Initiator methionine', 'Post-translational modification',
       'Signal peptide', 'Transit peptide', 'Topological domain','Transmembrane','Intramembrane'])

In [50]:
#df_human['Gene Ontology (biological process)'].value_counts(dropna=False)

In [51]:
# Decided to keep only the first part of the Gene Ontology columns (only the part before the first [GO])

# A regex pattern that captures everything until the first '[GO:'

df_human['Gene Ontology (biological process)'] = df_human['Gene Ontology (biological process)'].str.extract(r'^(.*?)(?=\[GO:)')
df_human['Gene Ontology (cellular component)'] = df_human['Gene Ontology (cellular component)'].str.extract(r'^(.*?)(?=\[GO:)')
df_human['Gene Ontology (GO)'] = df_human['Gene Ontology (GO)'].str.extract(r'^(.*?)(?=\[GO:)')
df_human['Gene Ontology (molecular function)'] = df_human['Gene Ontology (molecular function)'].str.extract(r'^(.*?)(?=\[GO:)')

In [52]:
df_rat['Gene Ontology (biological process)'] = df_rat['Gene Ontology (biological process)'].str.extract(r'^(.*?)(?=\[GO:)')
df_rat['Gene Ontology (cellular component)'] = df_rat['Gene Ontology (cellular component)'].str.extract(r'^(.*?)(?=\[GO:)')
df_rat['Gene Ontology (GO)'] = df_rat['Gene Ontology (GO)'].str.extract(r'^(.*?)(?=\[GO:)')
df_rat['Gene Ontology (molecular function)'] = df_rat['Gene Ontology (molecular function)'].str.extract(r'^(.*?)(?=\[GO:)')

In [53]:
#df_human['Subcellular location [CC]'].value_counts(dropna=False)

In [54]:
# Decided to keep the subcelluar, could be used later for specifically predicting specific proteins

# A regex pattern that captures everything between the SUBCELLULAR LOCATION:  and the first {ECO:

df_human['Subcellular location [CC]'] = df_human['Subcellular location [CC]'].str.extract(r'(?<=SUBCELLULAR LOCATION: )(.*?)(?=\s*{ECO:)')

In [55]:
df_rat['Subcellular location [CC]'] = df_rat['Subcellular location [CC]'].str.extract(r'(?<=SUBCELLULAR LOCATION: )(.*?)(?=\s*{ECO:)')

In [56]:
print('Human Protein sequences over 500 length', len(df_human[df_human['Length']>500]))
print('Rat Protein sequences over 500 length', len(df_rat[df_rat['Length']>500]))

Human Protein sequences over 500 length 23884
Rat Protein sequences over 500 length 25999

In [57]:
# Decided to drop all the sequences that are above 500 aa in length (currently for the ease of modelling)
# Then changed to 100 as the code wasn't running

df_human = df_human[df_human['Length']<100]
df_rat = df_rat[df_rat['Length']<100]

In [58]:
print(df_human.shape)
print(df_rat.shape)

(163564, 10)
(58777, 10)

In [59]:
df_human.isna().sum()/len(df_human)

Protein names                         0.000000
Gene Names                            0.201811
Organism                              0.000000
Length                                0.000000
Sequence                              0.000000
Gene Ontology (biological process)    0.650149
Gene Ontology (cellular component)    0.573837
Gene Ontology (GO)                    0.459288
Gene Ontology (molecular function)    0.712730
Subcellular location [CC]             0.787196
dtype: float64

In [60]:
df_rat.isna().sum()/len(df_human)

Protein names                         0.000000
Gene Names                            0.009140
Organism                              0.000000
Length                                0.000000
Sequence                              0.000000
Gene Ontology (biological process)    0.243770
Gene Ontology (cellular component)    0.229989
Gene Ontology (GO)                    0.195978
Gene Ontology (molecular function)    0.233401
Subcellular location [CC]             0.258841
dtype: float64

In [61]:
# Fill all the NaN with unknown
df_human = df_human.fillna('Unknown')
df_rat = df_rat.fillna('Unknown')

In [62]:
df_human.describe().T

           count        mean         std  min    25%    50%    75%    max
Length  163564.0  187.356111  113.216307  7.0  104.0  177.0  258.0  499.0

In [63]:
df_rat.describe().T

          count        mean         std  min    25%    50%    75%    max
Length  58777.0  228.405073  134.996033  1.0  110.0  217.0  334.0  499.0

In [105]:
# Concat both df for further analysis
df = pd.concat((df_human,df_rat), axis=0).reset_index(drop=True)

df.to_csv('Protein_df.csv')

In [107]:
#df

In [64]:
# Make new dfs with only the Sequence and Organism columns to start the model.

df_human_seq = df_human[['Sequence','Organism']]
df_rat_seq = df_rat[['Sequence','Organism']]

In [65]:
# To make it easier to read change the Organism to Human or Rat respectivelly

df_human_seq['Organism'] = df_human_seq['Organism'].replace(['Homo sapiens (Human)'], 'Human').astype('object')
df_rat_seq['Organism'] = df_rat_seq['Organism'].replace(['Rattus norvegicus (Rat)'], 'Rat').astype('object')

/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_37529/118057391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_human_seq['Organism'] = df_human_seq['Organism'].replace(['Homo sapiens (Human)'], 'Human').astype('object')
/var/folders/q2/_chm3qg94gz5l7r736h39n040000gn/T/ipykernel_37529/118057391.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rat_seq['Organism'] = df_rat_seq['Organism'].replace(['Rattus norvegicus (Rat)'], 'Rat').astype('object')

In [66]:
pd.set_option('display.max_colwidth', None)

### Concat both df by row to continue workin with the resulting df

In [67]:
df_seq = pd.concat((df_human_seq, df_rat_seq), axis = 0).reset_index(drop=True)

In [68]:
#df_seq

#### Take a fraction of the sample as the models were not running

In [69]:
sample_df = df_seq.sample(frac=0.1)

## Tokenize the Protein Sequence

In [70]:
sample_df['Token_Sequence'] = sample_df['Sequence'].apply(list)

In [71]:
sample_df.head(1)

,Sequence,Organism,Token_Sequence
134613,SHSMRYFSTSVSRPGSGEPRFIAVGYVDDTQFVRFDSDAASQRMEPRVPWIEQERPEYWDQETRNVKAHSQTDRENLGTLRGYYNQSEAGSHTIQIMYGCDVGSDGRFLRGYEQHAYDGKDYIALNEDLRSWTAADMAAQITQRKWEAARRAEQLRAYLEGTCVEWLRRYLENGKETLQRT,Human,"[S, H, S, M, R, Y, F, S, T, S, V, S, R, P, G, S, G, E, P, R, F, I, A, V, G, Y, V, D, D, T, Q, F, V, R, F, D, S, D, A, A, S, Q, R, M, E, P, R, V, P, W, I, E, Q, E, R, P, E, Y, W, D, Q, E, T, R, N, V, K, A, H, S, Q, T, D, R, E, N, L, G, T, L, R, G, Y, Y, N, Q, S, E, A, G, S, H, T, I, Q, I, M, Y, G, C, ...]"

In [72]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, GlobalMaxPooling1D, Dense
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences

## RNN Model (LSTM) Classifier
Predict wether a protein sequence is human or rat protein

In [73]:
# Convert sequences to integer tokens

tokenizer = tf.keras.preprocessing.text.Tokenizer(char_level=True)
tokenizer.fit_on_texts(sample_df['Token_Sequence'].apply(lambda x: ''.join(x)))
X = tokenizer.texts_to_sequences(sample_df['Token_Sequence'].apply(lambda x: ''.join(x)))

In [74]:
# Pad the sequences to have the same length
X = pad_sequences(X, padding='post')

In [75]:
# Convert 'Human' and 'Rat' to integers

y = sample_df['Organism'].map({'Human': 0, 'Rat': 1}).values

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
model = Sequential()
model.add(Embedding(input_dim=len(tokenizer.word_index) + 1, output_dim=10))
model.add(LSTM(50, return_sequences=True))
model.add(GlobalMaxPooling1D())
model.add(Dense(1, activation='sigmoid'))

In [78]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy', Precision(), Recall()])

In [79]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=10)

Epoch 1/10
556/556 [==============================] - 220s 382ms/step - loss: 0.5240 - accuracy: 0.7329 - val_loss: 0.4918 - val_accuracy: 0.7268
Epoch 2/10
556/556 [==============================] - 128s 229ms/step - loss: 0.4876 - accuracy: 0.7319 - val_loss: 0.4873 - val_accuracy: 0.7290
Epoch 3/10
556/556 [==============================] - 125s 225ms/step - loss: 0.4833 - accuracy: 0.7331 - val_loss: 0.4813 - val_accuracy: 0.7284
Epoch 4/10
556/556 [==============================] - 121s 218ms/step - loss: 0.4737 - accuracy: 0.7332 - val_loss: 0.4681 - val_accuracy: 0.7299
Epoch 5/10
556/556 [==============================] - 120s 216ms/step - loss: 0.4735 - accuracy: 0.7323 - val_loss: 0.4731 - val_accuracy: 0.7270
Epoch 6/10
556/556 [==============================] - 120s 216ms/step - loss: 0.4670 - accuracy: 0.7317 - val_loss: 0.4667 - val_accuracy: 0.7236
Epoch 7/10
556/556 [==============================] - 119s 214ms/step - loss: 0.4614 - accuracy: 0.7340 - val_loss: 0.4615 - val_accuracy: 0.7182
Epoch 8/10
556/556 [==============================] - 118s 213ms/step - loss: 0.4550 - accuracy: 0.7357 - val_loss: 0.4566 - val_accuracy: 0.7227
Epoch 9/10
556/556 [==============================] - 119s 214ms/step - loss: 0.4500 - accuracy: 0.7339 - val_loss: 0.4640 - val_accuracy: 0.7248
Epoch 10/10
556/556 [==============================] - 120s 216ms/step - loss: 0.4539 - accuracy: 0.7329 - val_loss: 0.4526 - val_accuracy: 0.7356

In [80]:
# Evaluate the model on the test set
loss, accuracy, precision, recall = model.evaluate(X_test, y_test)

print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")
print(f"Test Precision: {precision:.4f}")
print(f"Test Recall: {recall:.4f}")

139/139 [==============================] - 9s 62ms/step - loss: 0.4526 - accuracy: 0.7356
Test Loss: 0.4526
Test Accuracy: 0.7356

- Could also optimize for recall or precision to improve the model depending on the critical outcome.
- F1 score could be a good way to optmize the model, not natively supported has to be manually calculated.

In [104]:
# Get the predictions for the test set
predictions = model.predict(X_test)

# Convert predictions to binary labels
predicted_labels = [1 if p >= 0.5 else 0 for p in predictions]

# Compare predicted labels with the actual labels
comparison = pd.DataFrame({'Actual': y_test, 'Predicted': predicted_labels})
print(comparison)

139/139 [==============================] - 16s 113ms/step
      Actual  Predicted
0          0          0
1          0          0
2          0          1
3          0          0
4          1          0
...      ...        ...
4442       1          0
4443       0          1
4444       1          1
4445       0          0
4446       1          0

[4447 rows x 2 columns]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

matrix = confusion_matrix(y_test, predicted_labels)

plt.figure(figsize=(3,3))
sns.heatmap(matrix, annot=True, fmt="d", cmap="Blues")
plt.xlabel('Predicted')
plt.ylabel('True')
plt.show()

#### Tested model parameters to optimize the model
- Model with intial parameters (unidirectional LSTM, LSTM = 50, epochs=10)    
    - Test Loss: 0.4611
    - Test Accuracy: 0.7674
    - Test Precision: 0.7213
    - Test Recall: 0.1624

- Model parameters (bidirectional LSTM, LSTM = 50, epochs=10)    
    - Test Loss: 0.4431
    - Test Accuracy: 0.7731
    - Test Precision: 0.6204
    - Test Recall: 0.3137
- switching to biderectional LSTM (gets sequence patterns from beginning and end) improved the model accuracy and recall but the precision decreased
- This model has the lowest loss (crossentropy), which should be the best metric to evaluate the model.

- Model parameters (bidirectional LSTM, LSTM = 100, epochs=10)  

    - Test Loss: 0.4629
    - Test Accuracy: 0.7464
    - Test Precision: 0.5397
    - Test Recall: 0.1255
    
- LSTM 100 decread all the test scores

- Model parameters (bidirectional LSTM, LSTM = 50, epochs=20)  
    
    - Test Loss: 0.4554
    - Test Accuracy: 0.7712
    - Test Precision: 0.5544
    - Test Recall: 0.5830
    
- Reverting to LSTM 50 and increasing the epochs to 20 incread the recall score and decreased the precision score. The accuracy is almost unchanged.

## RNN Model (LSTM)
Predict new protein sequences not seen in the data

In [38]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical

In [ ]:
tokenizer = tf.keras.preprocessing.text.Tokenizer(char_level=True)
tokenizer.fit_on_texts(sample_df['Token_Sequence'].apply(lambda x: ''.join(x)))
total_words = len(tokenizer.word_index) + 1

# Create input sequences
input_sequences = []
for sequence in sample_df['Token_Sequence']:
    token_sequence = tokenizer.texts_to_sequences([sequence])[0]
    for i in range(1, len(token_sequence)):
        n_gram_sequence = token_sequence[:i+1]
        input_sequences.append(n_gram_sequence)

# Pad sequences and split input and output
input_sequences = pad_sequences(input_sequences)
X, y = input_sequences[:,:-1],input_sequences[:,-1]
y = to_categorical(y, num_classes=total_words)

In [ ]:
model = Sequential()
model.add(Embedding(input_dim=total_words, output_dim=50, input_length=X.shape[1]))
model.add(LSTM(100, return_sequences=True))
model.add(LSTM(100))
model.add(Dense(total_words, activation='softmax'))

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(X, y, epochs=10, verbose=1)

In [ ]:
def generate_sequence(model, tokenizer, max_length, init_seq=None, ):
    if init_seq is None:
        # Starting with a random amino acid token. Alternatively, choose a fixed start like "M".
        init_seq = np.random.choice(list(tokenizer.word_index.keys()))
    
    new_sequence = init_seq
    for _ in range(max_length):
        token_sequence = tokenizer.texts_to_sequences([new_sequence])[0]
        token_sequence = pad_sequences([token_sequence], maxlen=X.shape[1], padding='pre')
        predicted_token = np.argmax(model.predict(token_sequence), axis=-1)
        predicted_amino_acid = tokenizer.index_word[predicted_token[0]]
        new_sequence += predicted_amino_acid
    return new_sequence.upper()

# Generate a new sequence of length desired length
generated_sequence = generate_sequence(model, tokenizer, 50)


# Print the generated sequence
print(generated_sequence)

In [ ]:
# To save the generated sequences in a txt file.

with open('Generated Sequences.txt', 'a') as file:
    file.write(generated_sequence + '\n')

## API for PDB

Use PDB API to check if the generated protein sequence excists in nature.

In [101]:
import requests
import json


# Construct the query
query_json = {
  "query": {
    "type": "terminal",
    "service": "sequence",
    "parameters": {
      "evalue_cutoff": 1,
      "identity_cutoff": 0.9,
      "sequence_type": "protein",
      "value": generated_sequence
    }
  },
  "request_options": {
    "scoring_strategy": "sequence"
  },
  "return_type": "polymer_entity"
}

# Define the endpoint
url = "https://search.rcsb.org/rcsbsearch/v2/query"

# Make the API request
response = requests.post(url, json=query_json)

# Check if the request was successful
print(response.status_code)
match = response.json()
print(match['result_set'])

200
[{'identifier': '7T2A_2', 'score': 1.0}, {'identifier': '7T2B_2', 'score': 1.0}, {'identifier': '7T2C_4', 'score': 1.0}, {'identifier': '7T2D_2', 'score': 1.0}, {'identifier': '7T6I_2', 'score': 0.3333333333333333}, {'identifier': '7ZAK_2', 'score': 0.3333333333333333}, {'identifier': '7ZFR_2', 'score': 0.3333333333333333}, {'identifier': '3LQZ_2', 'score': 0.16666666666666666}, {'identifier': '4P4K_2', 'score': 0.16666666666666666}, {'identifier': '4P4R_2', 'score': 0.16666666666666666}]

This gives all the proteins that have this sequence in nature.
- Score of 1 means it the generated sequence matches exactly a protein or part of a protein.
- Scores less than 1 means that the bulk of the sequences matches but there are mismatches.

In [102]:
match_df = pd.DataFrame(match['result_set'])
match_df

  identifier     score
0     7T2A_2  1.000000
1     7T2B_2  1.000000
2     7T2C_4  1.000000
3     7T2D_2  1.000000
4     7T6I_2  0.333333
5     7ZAK_2  0.333333
6     7ZFR_2  0.333333
7     3LQZ_2  0.166667
8     4P4K_2  0.166667
9     4P4R_2  0.166667

In [103]:
match_df.to_csv('Protein match.csv')

This could used as metric to evaluate the model, as it is trained only a portion of all available proteins.\
If it produces proteins that are available in nature consistently, it could be an indication that the model understands the relationship of protein sequences.

## Hypothesis Testing

(H0): The mean length of human sequences is equal to the mean length of rat sequences.

 
(H1): The mean length of human sequences is not equal to the mean length of rat sequences.

In [26]:
import scipy.stats as st

In [29]:
st.ttest_ind(df_human['Length'], df_rat['Length'], equal_var=False)

Ttest_indResult(statistic=-65.86462497550019, pvalue=0.0)

- Since the pvalue is 0 (Probably rounded to 0) this means we reject the H0, which is that the mean length of human sequences is equal to the mean length of rat sequences.
- This shows that there is a statistically significant difference between the mean length of human and rat sequences, and since the statistic is below 0 this means that the mean length of sequences for humans is shorter than that for rats

## Testing ProtBERT

In [130]:
from transformers import BertModel, BertTokenizer
import re
tokenizer = BertTokenizer.from_pretrained("Rostlab/prot_bert", do_lower_case=False )
model = BertModel.from_pretrained("Rostlab/prot_bert")
sequence_Example = "nylfqgrqecyafngtqrfleryiynreefarfdsdvgefravtelgrpaa"
sequence_Example.upper()
sequence_Example = re.sub(r"[UZOB]", "X", sequence_Example)
encoded_input = tokenizer(sequence_Example, return_tensors='pt')
output = model(**encoded_input)

ImportError: cannot import name 'BertModel' from 'transformers' (/Users/amr/anaconda3/lib/python3.11/site-packages/transformers/__init__.py)